/* MENSAGEM FLASH */
.flash {
  width: 100%;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  position: fixed;
  top: 0;
  /* visibility: hidden; */
}

.verde {
  background-color: green;
  border-color: green;
  color: white;
}

.vermelho {
  background-color: red;
  border-color: red;
  color: white;
}

/* MENSAGEM FLASH*/

.flash {
  width: 100%;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  position: fixed;
  top: 0;
  visibility: hidden;
}

.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.fade-in {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.vermelho{
  background-color: red;
}

.verde{
  background-color: green;
}