/* COMPONENTES */
.input-id {
  font-size: 18px;
  text-align: center;
  border-radius: 20px;
  border: transparent;
  display: inline-block;
  max-width: 100px !important;
  max-height: 100px !important;
  background-color: transparent;
  border-bottom-color: transparent;     
} 

.button-arredondado {
  left: 50%;
  height: 62px;
  bottom: 212px;
  text-align: center;
  position: absolute;
  margin-left: -84px;
  width: 173px !important;
  border-radius: 2px 2px 100px 100px;
}

.input-item {
  margin: 0;
  padding: 0;
}

.input-color {
  background-color: rgba(0,0,0,0.1)
}

.button-formato {
  height: 41px;
  margin-top: 3.1%;
  text-align: center;
  width: 115px !important;
  border-radius: 2px 2px 90deg 100px;
}
