/* INDEX */
ul {
  margin: 0;
  padding: 2%;
  list-style-type: none;
}

html,
body {
  width: 100%;
  height: 100vh;
}

html {
  display: table;
}

body {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.parte-central-font {
  font-size: 14px;
}

.id,
.nome {
  font-size: 15px;
  text-align: center;
  padding-right: 10%;
  box-sizing: border-box;
  text-shadow: 0 0 50px rgba(0,0,0,0.5);
}

.altura,
.peso {
  max-width: 100%;
  padding-right: 10px;
}

.foto{
  margin: 0;
  padding: 0;
  height: 100px;
}


.item-overflow-hidden{
  overflow: hidden;
  max-height: 300px;
}

.item-overflow-auto{
  height: 122px;
  overflow: auto;
  text-align: left;
}

.input-color{
  background-color: rgba(0,0,0,0.1)
}

.button-formato{
  margin-top: 50px;
  padding: 0;
  width: 48px;
  height: 53px;
  margin: 0 auto;
  font-size: 8px;
  text-align: center;
}

.input-item {
  margin: 0;
  padding: 0;
}

.parte-central{
  text-align: center;
} 
.parte-central-color{
  background-color: transparent;
} 

.color-vermelho{
  color: #A72124;
}

.color-preto{
  color: #040301;
}

.color-azul{
  color: #439DBD;
} 

.background-tela {
  width: 468px;
  height: 804px;
  margin: 0 auto;
  position: relative;
  padding: 281px 85px 281px 97px;
  background: url("../img/pokedexKalosAzul.png") no-repeat center / 100% auto;
} 

.parte-central-alturas {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.parte-central-alturas::-webkit-scrollbar {
    width: 0px !important;
}
