/* GENERAL */
body{
  margin: -5px !important;
  font-family: Courier New, monospace !important;
  font-size: 16px;
}

.slogan{
  font-size: 30px;
  text-align: right;
}

.table{
  z-index: 1;
  width: 100%;
  height: 100%;
  display: table;
  font-size: 25px;
  text-shadow: 0 0 30px rgba(23, 114, 23, 0.8);
}

.table-cell{
  width: 100%;
  height: 100%;
  color: white;
  padding: 15px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.verde-claro{
  color: #73AA73;
}

.verde-mediano{
  color: #458E45;
}

.verde-forte{
  color: #177217;
}

.btn{
  color: white;
  border-color: white !important;
  background-color: #73AA73 !important;
}

.fonte-verdana{
  font-family: Verdana, sans-serif;
}
