/* SECTION */

section{
  margin: 0;
  padding: 0 5px;
}

.fundo{
  height: 100vh;
  color: white;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../img/61-1.jpg');
}

.fundo::before{
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: rgb(221,221,221);
  background: -moz-radial-gradient(center, ellipse cover, rgba(221,221,221,0.2) 0%, rgba(115,170,115,0.3) 99%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(221,221,221,0.2) 0%, rgba(115,170,115,0.3) 99%);
  background: radial-gradient(ellipse at center, rgba(221,221,221,0.2) 0%, rgba(115,170,115,0.3) 99%);
}

.fundo .table{
  position: relative;;
  z-index: 2;
}
