/* BANDEIRAS */
body{  
  width: 800px;
  margin: 15px;
  background-color: #ccccb3 !important;
}

.container{
  height: 420px !important;
  text-align: center;
  margin: 120px 0 0 250px !important;
}

.branco{
  background-color: white;
}

.azul-violeta{
  background-color: #0E0051;
}

.vermelho{
  background-color: red;
}

.amarelo{
  background-color: yellow;
}

.preto{
  background-color: black;
}

.azul-grecia{
  background-color: #0052cc;
}
