/* BANNER */
.banner{
  height: 100vh;
  color: white;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/praia-farol.jpg");
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}

.banner::before{
  top: 0;
  left: 0;
  z-index: 1;
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: -moz-linear-gradient(-45deg, rgba(6,120,169,0.4) 36%, rgba(255,183,0, 0.7) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(6,120,169,0.4) 36%,rgba(255,183,0, 0.7) 100%);
  background: linear-gradient(135deg, rgba(6,120,169,0.4) 36%,rgba(255,183,0, 0.7) 100%);
}

.banner .table{
  position: relative;;
  z-index: 2;
}

.banner-title{
  margin-bottom: 20px;
  font-size: 84px;
}

.banner p{
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 22px;
}

@media(max-width: 600px){
  .banner .table-cell{
    padding-left: 15px;
    padding-right: 15px;
  }

  .banner br{
    display: none;
  }

  .banner-title{
    font-size: 40px;
  }
}
