/* BUTTON */

.button{
  padding: 10px;
  font-size: 18px;
  line-height: 18px;
  border-radius: 12px;
  display: inline-block;
  text-transform: uppercase;
}

.button-white{
  color: #0678A9;
  background-color: white;
}

.button-white:hover{
  color: #FFB700;
}
