/* COLUNA */
.coluna{
  padding-top: 60px;
  padding-bottom: 60px;
}

.col{
  float: left;
  padding: 0 15px;
  box-sizing: border-box;
}

.col-half{
  width: 50%;
}

@media(max-width: 600px){
  .col-half{
    width: 100%;
  }
}
