/* CONTATO */

.no-banner{
  padding-top: 90px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/praia-farol.jpg");
}

.contato{
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 15px;
  background-color: #efefef;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.contact-input{
  width: 100%;
  margin-bottom: 15px;
  border-radius: 2px;
  border-color: #0678A9;
}

.textarea-height{
  height: 140px;
}

.contato-button{
  border-radius: 5px;
  border-color: #0678A9;
  background-color: white;
  transition: background 0.3s ease-in-out 0s;
  cursor: pointer;
}

.contato-button:hover{
  color: white;
  border-color: white;
  background-color: #0678A9;
}

.aling-button{
  text-align: right;
}
