/* FOOTER */

.footer-bottom{
  padding: 15px;
  background-color: #efefef;
  text-align: center;
  margin-bottom: -100;
}

.footer-bottom p{
  margin: 0;
}

.footer-nav li{
  display: inline-block;
  margin-bottom: 30px;
}

.footer-nav a{
  display: inline-block;
  padding: 5px 15px;
  color: #222;
}

.footer-nav a:hover{
  color: #FFB700;
}
