/* HISTORIA */
.no-banner{
  padding-top: 90px;
}

.historia{
  padding:15px 15px 15px 0;
  margin-bottom: 15px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.historia-img{
  width: 120px;
  padding: 15px;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.right{
  padding: 0 0 0 15px;
  text-align: right;
}
