/* PRODUTOS */
.no-banner{
  padding-top: 40px;
}

.produto{
  padding: 15px;
  margin-bottom: 25px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.centralizar{
  text-align: center;
}

.title-produto{
  text-align: center;
  font-size: 22PX;
}

.produto-button{
  border-radius: 5px;
  border-color: #0678A9;
  background-color: white;
}
