/* SERVICOS */
.no-banner{
    padding-top: 90px;
}

.line-servico{
  padding: 15px;
  margin-bottom: 15px;
  float: right;
}

.img-servico{
  padding: 15px;
  width: 180px;
  float: left;
}

.title-servico{
  font-size: 22px;
}
