<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Banco Digital</title>
<style>
	body{
		background-color: black;
		color: orangered;
		text-align: center;
	}
	h1{
		margin-top: 280px;
	}
</style>
</head>
	<body>
		<h1 th:text="${mensagem}"> </h1>
	</body>
</html>