/* MEU BOTAO */
.botao{
  margin: 15px;
  text-decoration: none;
}

.azul{
  background-color: dodgerblue;
  color: white;
  border: 1.5px solid dodgerblue;
}

.vermelho{
  background-color: firebrick;
  color: white;
  border: 1.5px solid firebrick;
}

.laranja{
  background-color: orangered;
  color: white;
  border: 1.5px solid orangered;
}

a{
  text-decoration: none;
  color: white;
}