/* GRECIA */

.row{
    height: 46.66px !important;
}

.quadrado{
    height: 93.33px;
    width: 93.33px;
}

.branco-cruz-linha{
    height: 46.66px;
}

.cruz{
    height: 233.33px;
    width: 233.33px;
}

.coluna{
    height: 50px;
}

.cima-direita{
    margin-left: -13.9px;
}

.baixo-esquerda{
    margin-top: 46px;
}

.baixo-direita{
    margin-top: 46px;
    margin-left: -13.9px;
}